body {
  background-color: lightblue;
}

h1 {
  color: black;
  text-align: center;
  font-family: verdana;
  border-bottom-style: 2px solid black;
  padding-bottom: 20px;
}

p {
  margin-left: 100px;
  font-family: verdana;
  font-size: 18px;
  border: 2px solid black;
  border-radius: 5px;
  background-color: white;
}

