body{

	font-family: Verdana, Geneva, sans-serif;
	background-color: #F0FFFF;
	color: black;
}


a:link {
    text-decoration: none;
	color: white;
}

a:visited {
	color: white;
	text-decoration: none;
}


nav{
	padding: 0px;
	margin: 0px;
}
nav ul{
	
	list-style-type: none;
	
}
nav li{
	
	display:inline-block;
	text-align: center;
	line-height: 40px;
	font-size: auto;
	width:24%;
	height : 40px;
	border-right : 1px solid white;
	background-color : #525C65;
	
	
	
}

nav li a{
	display:block;
	text-decoration: none;
	color: white;
}

.active{
	background-color :#53868B;
}



h1{
	text-align: center;
	text-decoration: none;
	background-color: #53868B;
	margin:25px;
	color:white;
	font-size: 38px;
}

h2{
	text-align: center;
	text-decoration: underline;
	margin:30px;
	color:white;
	background-color:#525C65;
	font-size: 38px;
	padding-top: 15px;
	padding-bottom: 15px;
	font-family:Lucida Calligraphy;

}

h3{
	text-indent: 15px;
	margin-left:20%;
	margin-right:20%;
	font-weight:lighter;
	font-size:21pt;
	text-align:left;
	border-bottom : 2px solid silver;
	
}

p{	
	margin-left:20%;
	margin-right:20%;
	font-size:14pt;
	text-align:left;


}

table {
	margin-left:auto;
	margin-right:auto;
	border: 1px solid #1C6EA4;
	background-color:#53868B ;
	width: 20%;
	text-align: center;
	border-collapse: collapse;
	font-size: 12px;
}

table td, table th {
	border: 1px solid silver;
	padding: 3px 2px;
}

table td:nth-child(even) {
	background: white
}

.intro{
	padding-left:5%;
	padding-right:5%;
	margin-bottom:100px;
	margin-top:75px;
	text-align:center;
	font-size: 12pt;
	text-decoration:italic;
	color:#525C65;
	border-left: 8px solid silver;
}

.pied{
	margin:0px;
	border-top:1px solid #525C65;
	padding: 10px;
	font-family:Courier New;
	font-size:11pt;
	text-align:center;
	text-decoration:none;
	color: white;
	background-color:#525C65;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.video{
	display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}